.c-header {
  background: $bg-gradient-gray;
}

.header {
  border-bottom: none;
  @include media-breakpoint-up(md) {
    border-bottom: 1px solid $gray-500;
  }
  &__toggler {
    &--placeholder {
      opacity: 0.2;
    }
  }

  & .nav-item.dropdown {
    list-style: none;
  }

  & .header-col-flex {
    flex: 1 0;

    &-search {
      flex: 2 0;
    }
  }
}
