.sticky-resort-map {
  will-change: transform;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  .text-dark {
    color: $gray-200 !important;
  }
}

/* Ensure the parent container allows scrolling */
.main-content,
.content-wrapper,
.page-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.map-pop-up-image {
  height: 8rem; /* Default height for larger screens */

  .flickity-viewport {
    height: 100%
  }


  @media screen and (max-width: 767px) {
    height: -webkit-fill-available;
  }

  & .flickity-prev-next-button.previous {
    left: 0;
  }
  & .flickity-prev-next-button.next {
    right: 0;
  }
}


.bg-success-gradient {
  background: linear-gradient(45deg, var(--cui-success) 0%, #2dce89 100%);
}

.bg-info-gradient {
  background: linear-gradient(45deg, var(--cui-info) 0%, #11cdef 100%);
}

.bg-warning-gradient {
  background: linear-gradient(45deg, var(--cui-warning) 0%, #fb6340 100%);
}

.bg-danger-gradient {
  background: linear-gradient(45deg, var(--cui-danger) 0%, #f5365c 100%);
}

.transition-all {
  transition: all 0.2s ease-in-out;
}

.hover\:shadow-xl:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
