.form-hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: large;
}

.form-select {
  max-width: 20rem;
}

input {
  border-style: hidden;
}
